div{
	display: inline;
	padding: 2px 10px 10px;
	margin: 0px 10px 10px 8px;
	width: 160px;
	height: 80px; 
	float: left;
}
.cajaroja{
	background-color: #FF0000;
}
.cajaamarilla{
	background-color: #FCFF00;
}